* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif;
  }
  a {
    color: black;
  }
  
  #screen {
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 1%, 86%);
  }
  
  #signUp_container {
    width: 35%;
    height: 85vh;
    /* border: 1px solid red; */
    border-radius: 25px;
    background-color: white;
    position: relative;
  }
  #x {
    position: absolute;
    top: 5%;
    left: 4%;
  }
  
  #inner_signUp {
    width: 60%;
    /* border: 1px solid red; */
    margin: auto;
    height: 100%;
  }
  
  #main_signUp {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
  }
  
  #icon {
    text-align: center;
    padding-bottom: 8%;
    padding-top: 3%;
  }
  
  #sigUp_heading {
    text-align: center;
    padding-bottom: 8%;
  }
  
  .goog_app {
    width: 90%;
    margin: auto;
    border: 1px solid rgb(211, 209, 209);
    text-align: center;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 50px;
    font-size: 0.9em;
  }
  
  #google_container {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid blue; */
    padding-left: 4%;
  }
  #google_container > p {
    width: 60%;
  }
  #google_container > p > a {
    padding-left: 1%;
    /* border: 1px solid green; */
  }
  
  #google_image {
    /* border: 1px solid red; */
    width: 7%;
    height: 7%;
  }
  #google_image > img {
    width: 100%;
    height: 100%;
  }
  
  #apple > a {
    padding-left: 4%;
  }
  
  #or {
    text-align: center;
    padding-bottom: 4%;
  }
  
  form {
    width: 100%;
  }
  
  .input_container {
    width: 90%;
    margin: auto;
  }
  .input_container > input {
    width: 100%;
    margin: 4% 0;
    padding: 2%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(171, 171, 171);
    outline: none;
  }
  .input_container > input:focus {
    outline: 0.5px solid rgb(199, 197, 197);
  }
  .input_container > #submit {
    background-color: black;
    color: white;
  }
  
  #already_acc {
    padding-top: 4%;
    font-size: 0.9em;
    padding-left: 7%;
  }
  #already_acc > p > a {
    color: blue;
  }