* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif;
    color: white;
  }
  a {
    color: black;
  }
  
  #screen {
    width: 100%;
    display: flex;
    background-color: black;
    /* height: 100vh; */
  }
  
  /* left */
  
  #left {
    width: 26%;
    /* border: 1px solid red; */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    background-color: black;
  }
  
  #left_container {
    width: 70%;
    /* border: 1px solid white; */
    margin-left: auto;
    height: 100%;
  }
  
  #twitter_icon {
    margin-top: 2%;
    padding: 4% 0 3% 2.5%;
    width: 15%;
  }
  #twitter_icon:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 50%;
    /* border: 1px solid red; */
  }
  
  #navigation_container > .navigations:nth-child(1) > .nav_names > h3 {
    font-weight: bold;
  }
  
  .navigations {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid red; */
    /* width: 100%; */
    width: 100%;
    margin: 5% 0;
    /* text-align: center; */
  }
  
  #single_nav_home {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 50%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_home:hover {
    background-color: #202327;
    border-radius: 25px;
    cursor: pointer;
  }
  #single_nav_explore {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 60%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_explore:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  #single_nav_notification {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 80%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_notification:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  
  #single_nav_message {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 60%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_message:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  
  #single_nav_list {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 50%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_list:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  
  #single_nav_bookmark {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 64%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_bookmark:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  
  #single_nav_verified {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: ceinter; */
    width: 60%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_verified:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  #single_nav_profile {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: ceinter; */
    width: 60%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_profile:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  #single_nav_more {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: ceinter; */
    width: 50%;
    /* border: 1px solid red; */
    padding: 3%;
  }
  #single_nav_more:hover {
    background-color: rgb(38, 38, 38);
    border-radius: 25px;
    cursor: pointer;
  }
  
  /*  */
  .nav_icon {
    /* width: 45%; */
    /* border: 1px solid blue; */
    /* padding: 4%; */
    text-align: center;
  }
  
  .nav_names {
    /* width: 70%; */
    /* border: 1px solid orange; */
    padding-left: 15%;
  }
  .nav_names > h3 {
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  
  #tweet_btn {
    width: 80%;
    height: 45px;
    margin-bottom: 15%;
    /* border: 1px solid blue; */
  }
  #tweet_btn > button {
    width: 100%;
    height: 100%;
    background-color: #1d9bf0;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bolder;
    border: none;
  }
  #tweet_btn > button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  #user_Profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-bottom: 5%;
  }
  
  #user_details {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* border: 1px solid red; */
    width: 70%;
  }
  #user_details > #profile_icon {
    width: 25%;
    /* border: 1px solid blue; */
  }
  #user_details > #profile_name {
    width: 65%;
    font-size: 0.9em;
    /* text-align: center; */
    /* border: 1px solid purple; */
  }
  
  #profile_name > p:nth-child(2) {
    color: grey;
  }
  
  #dots {
    width: 25%;
    text-align: end;
    padding-right: 8%;
  }
  /* center */
  
  #center {
    width: 40%;
    /* border: 1px solid blue; */
    border-right: 1px solid rgb(70, 70, 70);
    margin-left: 26%;
    background-color: black;
  }
  
  nav {
    width: 40%;
    height: 15%;
    /* border: 1px solid white; */
    background-color: rgba(0, 0, 0, 0.99);
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0.9;
    border-bottom: 1px solid rgb(79, 79, 79);
    border-right: 1px solid rgb(79, 79, 79);
  }
  
  #home_heading {
    height: 50%;
    padding: 2% 0 0 4%;
  }
  
  #foryou-following {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
  }
  
  #foryou {
    width: 50%;
    /* text-align: center; */
    height: 100%;
  }
  #foryou > div > h4 {
    border-bottom: 4px solid #1d9bf0;
    height: 100%;
    /* border: 1px solid red; */
    width: 30%;
    padding-top: 8%;
    text-align: center;
    margin-left: 30%;
  }
  #foryou:hover {
    background-color: rgb(26, 26, 26);
  }
  #following {
    width: 50%;
    text-align: center;
  }
  #following > div > h4 {
    padding-top: 8%;
    /* border-bottom: 4px solid #1d9bf0; */
    height: 100%;
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
    margin-left: 30%;
    color: grey;
    font-weight: lighter;
  }
  #following:hover {
    background-color: rgb(26, 26, 26);
  }
  
  main {
    padding-top: 18%;
    /* overflow-y: scroll; */
    /* height: 100vh; */
  }
  
  #center_body {
    border-bottom: 1px solid rgb(52, 51, 51);
    height: 20%;
  }
  
  #what_happening {
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
    /* border-bottom: 1px solid red; */
    display: flex;
  }
  
  #center_text {
    padding-left: 5%;
  }
  #center_text > p {
    color: grey;
    font-size: 1.2em;
  }
  
  #all_icons_flex {
    display: flex;
    justify-content: space-between;
  }
  
  #six_icons {
    /* border: 1px solid blue; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 3%;
  }
  
  #blur_tweet_btn {
    width: 40%;
    /* border: 1px solid red; */
    text-align: end;
    padding-top: 4%;
    padding-right: 5%;
  }
  
  #blur_tweet_btn > button {
    background-color: #2e6d97;
    width: 35%;
    height: 80%;
    border-radius: 25px;
    border: none;
  }
  
  #show_tweets {
    border-bottom: 1px solid rgb(53, 53, 53);
    text-align: center;
    padding: 2% 0;
  }
  #show_tweets > p {
    color: #226ea1;
  }
  
  /* home_content_body */
  #home_body_container {
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .home_content {
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(47, 47, 47);
  }
  
  .top_content {
    width: 100%;
    /* border: 1px solid blue; */
  }
  
  .top_user_name {
    display: flex;
    padding-left: 2%;
    /* align-items: center; */
    /* border: 1px solid red; */
  }
  
  .top_icon {
    width: 7%;
    height: 40px;
    margin-top: 4%;
    /* border: 1px solid blue; */
  }
  .top_icon > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  
  .top_user_details {
    /* align-items: center; */
    justify-content: space-evenly;
    display: flex;
    width: 60%;
    padding-top: 4%;
    /* border: 1px solid green; */
    padding-left: 2%;
    /* padding-top: 2%; */
  }
  
  .user_mention {
    color: grey;
    font-weight: lighter;
  }
  .description {
    font-size: 0.9em;
    width: 80%;
    margin: auto;
    padding-left: 1%;
    /* border: 1px solid red; */
  }
  
  .post_tags {
    padding-left: 10%;
    line-height: 30px;
    padding-top: 2%;
  }
  
  .special_mention {
    color: #1d9bf0;
  }
  
  .post_tags > p:nth-child(2) {
    color: #1d9bf0;
  }
  .post_tags > p:nth-child(3) {
    color: #1d9bf0;
  }
  
  .image_content {
    width: 100%;
    /* border: 1px solid greenyellow; */
  }
  
  .main_image_post {
    width: 90%;
    margin-top: 2%;
    /* border: 1px solid pink; */
    /* margin: auto; */
    padding-left: 10%;
  }
  .main_image_post > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .interaction_section {
    width: 90%;
    margin: auto;
    /* border: 1px solid purple; */
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .numbers {
    color: grey;
  }
  
  .comment {
    display: flex;
    justify-content: space-around;
    width: 16%;
    /* border: 1px solid orange; */
  }
  
  .tweet {
    display: flex;
    justify-content: space-around;
    width: 16%;
    /* border: 1px solid orange; */
  }
  
  .heart {
    display: flex;
    justify-content: space-around;
    width: 16%;
    /* border: 1px solid orange; */
  }
  .views {
    display: flex;
    justify-content: space-around;
    width: 16%;
    /* border: 1px solid orange; */
  }
  
  /* right */
  
  #right {
    width: 30%;
    height: 100vh;
    /* border: 1px solid orange; */
    /* margin-left: 66%; */
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3%;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 5%;
  }
  
  #right::-webkit-scrollbar {
    display: none;
  }
  
  #right_nav {
    background-color: black;
    padding-top: 2%;
  }
  
  #search_container {
    height: 35px;
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
  }
  
  #search_icon {
    position: absolute;
    left: 15%;
    top: 2.5%;
  }
  #search_container > input {
    background-color: #202327;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-left: 15%;
    /* font-size: 1.1em; */
    outline: none;
  }
  
  #right_main {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 3%;
    border-radius: 15px;
    background-color: #202327;
    line-height: 40px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  #get_verified {
    background-color: #1d9bf0;
    border-radius: 25px;
    width: 50%;
    height: 35px;
    border: none;
    font-weight: bolder;
  }
  
  #right_middle {
    width: 80%;
    margin: auto;
    /* border: 1px solid blue; */
    border-radius: 15px;
    margin-top: 2%;
    background-color: #202327;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .trend_tweet > p {
    font-weight: lighter;
    color: grey;
    font-size: 0.8em;
    letter-spacing: 0.5px;
  }
  
  .trending_section {
    padding-top: 5%;
    display: flex;
    /* border: 1px solid red; */
    /* align-items: center; */
    justify-content: space-between;
  }
  
  .three_dots {
    padding-right: 4%;
  }
  
  /* right_last */
  
  #right_last {
    /* border: 1px solid red; */
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    background-color: #202327;
    padding-left: 4%;
  }
  
  #right_last > h3 {
    padding: 2% 0;
  }
  .right_last_section {
    padding-top: 2%;
    display: flex;
    /* border: 1px solid green; */
  }
  
  .prof_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    padding-top: 3%;
    position: relative;
  }
  .right_last_profile {
    width: 65px;
    height: 40px;
    margin-left: 2%;
  }
  
  .right_last_profile > img {
    width: 65%;
    height: 100%;
    border-radius: 100%;
  }
  .right_last_profile_detail {
    width: 85%;
    /* border: 1px solid yellow; */
  }
  
  .right_last_profile_detail > p {
    color: grey;
    font-size: 0.9em;
  }
  
  .main_name_with_verified {
    /* width: 85%; */
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid blue; */
  }
  
  .verified_img {
    /* position: absolute;
    right: 10%;
    top: 23%; */
    width: 16px;
    height: 16px;
    /* border: 1px solid red; */
    padding-left: 3%;
    padding-top: 1%;
  }
  .verified_img > img {
    width: 100%;
    height: 100%;
  }
  
  .follow_btn {
    width: 35%;
    height: 40px;
    padding-right: 5%;
    padding-top: 3%;
  }
  .follow_btn > button {
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .center_main_verifed {
    width: 15px;
    height: 15px;
    /* margin: 0 2%; */
  }
  .center_main_verifed > img {
    width: 100%;
    height: 100%;
  }